<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;欢迎来到别克问卷后台管理系统</h3>
        <ul>
            <li>在这里，你可以：</li>
            <li><a>查看所有问卷</a></li>
            <li><a>查看问卷状态<a></li>
            <li><a>查询问卷回收数<a></li>
            <li><a>控制问卷的开始与结束<a></li>
            <li><a>导出问卷详细报告<a></li>
        </ul>

       
    </div>
</div>
</body>
</html>